<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate Change API</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      a{
        text-decoration: none;
        font-size: x-large;
      }
      li {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Climate Change API</h1>
    <h2>Endpoints:</h2>
    <ul>
      <li><a href="/news" target="_blank">/news</a></li>
      <li><a href="/news/guardian" target="_blank">/news/guardian</a></li>
      <li><a href="/news/telegraph" target="_blank">/news/telegraph</a></li>
      <li><a href="/news/thetimes" target="_blank">/news/thetimes</a></li>
      <li><a href="/news/un" target="_blank">/news/un</a></li>
      <li><a href="/news/nyp" target="_blank">/news/nyp</a></li>
      <li><a href="/news/dm" target="_blank">/news/dm</a></li>
      <li><a href="/news/sun" target="_blank">/news/sun</a></li>
      <li><a href="/news/es" target="_blank">/news/es</a></li>
      <li><a href="/news/bbc" target="_blank">/news/bbc</a></li>
      <li><a href="/news/smh" target="_blank">/news/smh</a></li>
      <li><a href="/news/latimes" target="_blank">/news/latimes</a></li>
      <li><a href="/news/nyt" target="_blank">/news/nyt</a></li>
      <li><a href="/news/cityam" target="_blank">/news/cityam</a></li>
    </ul>
  </body>
</html>